<footer>
  <span>Built for &Delta;&Chi; at Cornell University by <a href='https://twitter.com/FeifanZ' target='_blank'>Feifan Zhou</a></span>
  <span> &bull; </span>
  <span>Like concerts? Check out <a href='https://www.tunetap.com/' target='_blank' id='tunetapLink'>Tunetap</a></span>
</footer>